
@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Models.Common.Modals
@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Models.AttachmentEntityTypes
@model AttachmentEntityTypeViewModel

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="AttachmentEntityTypeInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("ArName") :</h6>
                @Model.AttachmentEntityType.ArName
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EnName") :</h6>
                @Model.AttachmentEntityType.EnName
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Folder") :</h6>
                @Model.AttachmentEntityType.Folder
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("AttachmentEntityType")) @L("ArName") :</h6>
                @Model.AttachmentEntityTypeArName
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithClose.cshtml")

