
@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Models.Common.Modals
@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Models.Diseases
@model DiseaseViewModel

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="DiseaseInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("name") :</h6>
                @Model.Disease.name
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("Person")) @L("name") :</h6>
                @Model.Personname
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithClose.cshtml")

